<table class="table table-striped ">
  <thead class="table-inverse">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Country</th>
      <th>Sold</th>
      <th>Channel</th>
      <th>Units</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" [(ngModel)]="searchId"></td>
      <td><input type="text" [(ngModel)]="searchName"></td>
      <td><input type="text" [(ngModel)]="searchCountry"></td>
      <td><input type="text" [(ngModel)]="searchProductSold"></td>
      <td><input type="text" [(ngModel)]="searchSalesChannel"></td>
      <td><input type="text" [(ngModel)]="searchUnitsSold"></td>
      <td><input type="text" [(ngModel)]="searchDateSold"></td>
    </tr>

    <tr *ngFor="let customer of customers
      |search: [
      {field: 'custId', value :searchId},
      {field: 'productSold', value :searchProductSold},
      {field: 'unitsSold', value :searchUnitsSold},
      {field: 'custName', value :searchName},
      {field: 'custCountry', value :searchCountry},
      {field: 'salesChannel', value :searchSalesChannel},
      {field: 'dateSold', value :searchDateSold}
      ]">
      
      <th scope="row">{{customer.custId}}</th>
      <td>{{customer.custName}}</td>
      <td>{{customer.custCountry}}</td>
      <td>{{customer.productSold}}</td>
      <td>{{customer.salesChannel}}</td>
      <td>{{customer.unitsSold}}</td>
      <td>{{customer.dateSold}}</td>
    </tr>
  </tbody>
</table>